{% extends 'bookstreamheader.html' %}

{% block content %}

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/mission.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our Mission
              </h2>
            </div>
            <p>
              At BookStream, we are dedicated to simplifying library management for everyone involved. Our mission is to offer a user-friendly platform tailored to meet the needs of readers, librarians, and administrators alike. Whether you’re managing a personal collection or overseeing a vast library, our goal is to ensure easy access to resources for all users. We’re committed to creating a seamless, enjoyable experience that supports a love for reading and efficient library operations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 </div>
{% endblock %}